<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eissler.micha.hbgvertretungsapp" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <permission android:name="com.eissler.micha.hbgvertretungsapp.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.eissler.micha.hbgvertretungsapp.permission.C2D_MESSAGE" />

    <!--<uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />-->


    <application
        android:name=".HbgApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/HbgTheme"

        >

        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="com.eissler.micha.hbgvertretungsapp.provider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/file_paths" />-->
        <!--</provider>-->

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode = "singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="hbg-code" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.example.sampleapp.MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.eissler.micha.INTENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".CheckForNewDataService"
            android:exported="false" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/HbgTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eissler.micha.hbgvertretungsapp.MainActivity" />
        </activity>

        <receiver
            android:name=".ConnectivityChangeReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CustomNamesList"
            android:label="@string/title_activity_custom_names_list"
            android:theme="@style/HbgTheme" >
            <intent-filter>
                <action android:name="com.eissler.micha.hbgvertretungsapp.CustomNames" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".settings.HiddenSubjects"
            android:label="@string/title_activity_hidden_subjects"
            android:theme="@style/HbgTheme" >
            <intent-filter>
                <action android:name="com.eissler.micha.hbgvertretungsapp.HiddenSubjects" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".settings.WhitelistSubjects"
            android:label="@string/title_activity_whitelist_subjects"
            android:theme="@style/HbgTheme" >
            <intent-filter>
                <action android:name="com.eissler.micha.hbgvertretungsapp.WhitelistSubjects" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
>
        </activity>

        <service
            android:name="org.acra.sender.SenderService"
            android:exported="false"
            android:process=":acra" />


        <!-- GCM Declarations -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.eissler.micha.hbgvertretungsapp.gcm.GcmListener"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service android:name="com.eissler.micha.hbgvertretungsapp.gcm.RegistrationIntentService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.RECEIVE">

            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service android:name="com.eissler.micha.hbgvertretungsapp.gcm.InstanceIdListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>