<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eissler.micha.hbgvertretungsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".HbgApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/HbgTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /> <!-- todo configchanges and launchMode -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="vp.hbgym.de"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HbgTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eissler.micha.hbgvertretungsapp.MainActivity" />
        </activity>
        <activity
            android:name=".settings.NotificationSettingsActivity"
            android:label="@string/title_activity_notification_settings"
            android:parentActivityName=".settings.SettingsActivity"
            android:theme="@style/HbgTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eissler.micha.hbgvertretungsapp.settings.SettingsActivity" />

            <intent-filter>
                <action android:name="com.eissler.micha.hbgvertretungsapp.settings.NotificationSettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SubmitNotificationActivity"
            android:label="@string/title_activity_submit_notification"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HbgTheme">
            <intent-filter>
                <action android:name="com.eissler.micha.hbgvertretungsapp.settings.SubmitNotification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eissler.micha.hbgvertretungsapp.MainActivity" />
        </activity>

        <receiver
            android:name=".ConnectivityChangeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".settings.CustomNamesList"
            android:label="@string/title_activity_custom_names_list"
            android:parentActivityName=".settings.SettingsActivity"
            android:theme="@style/HbgTheme">
            <intent-filter>
                <action android:name="com.eissler.micha.hbgvertretungsapp.CustomNames" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".settings.HiddenSubjects"
            android:label="@string/title_activity_hidden_subjects"
            android:parentActivityName=".settings.SettingsActivity"
            android:theme="@style/HbgTheme">
            <intent-filter>
                <action android:name="com.eissler.micha.hbgvertretungsapp.HiddenSubjects" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".settings.WhitelistSubjects"
            android:label="@string/title_activity_whitelist_subjects"
            android:parentActivityName=".settings.SettingsActivity"
            android:theme="@style/HbgTheme">
            <intent-filter>
                <action android:name="com.eissler.micha.hbgvertretungsapp.WhitelistSubjects" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
            >
        </activity>
        <activity
            android:name=".fcm.NotificationViewActivity"
            android:label="@string/title_activity_notificationview"
            android:parentActivityName=".MainActivity"
            android:theme="@style/HbgTheme"
            android:launchMode="standard"
            >

            <intent-filter>
                <action android:name="NotificationViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eissler.micha.hbgvertretungsapp.MainActivity" />
        </activity>
        <activity
            android:name=".AppIntro"
            android:label="@string/title_activity_app_intro"
            android:theme="@style/HbgTheme">

            <!--
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eissler.micha.hbgvertretungsapp.MainActivity" />
            -->
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="alarm.notification" />
                <action android:name="alarm.register_check" />
            </intent-filter>
        </receiver>

        <service
            android:name=".NotificationService"
            android:exported="false" />
        <service
            android:name="org.acra.sender.SenderService"
            android:exported="false"
            android:process=":acra" />

        <!-- FCM Declarations -->

        <service
            android:name=".fcm.FcmProcessorDistributor"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".fcm.InstanceIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>